/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 40px;
  background-color: #237FA9;
  border-top: 5px solid #86b2c6;
  border-bottom: 5px solid #e6e6e6;
  position: fixed;
  bottom: 0;
}

#footer > .container {
  padding-top: 5px;
}

#footer > .text-muted > a:link {
  color: #F4F7F9;
  text-decoration: none;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 60px;
  font-family: 'Museo-Sans-1', sans-serif;
}

.container .text-muted {
  margin: 0 0;
}



h1 {
  text-align: center;
  font-weight: 500;
  color: #86b2c6;
}

.page-header {
  text-align: center;
}

.navbar-default {
  padding-right: 30px;
}

.navbar > .container {
  background: #237fa9;
  padding: 1.44rem 0;
}
.navbar-default .container > .navbar-header > a {
  color: #F4F7F9;
  padding-top: 10px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #F4F7F9;
}

.navbar-default  {
  border-bottom: 5px solid #e6e6e6;
  border-top: 5px solid #86b2c6;
}

.active {
  color: #e6e6e6;
  font-color: #F4F7F9;
}

.navbar-nav  {
  padding-top: 15px;
  padding-left: 200px;
}

.navbar-nav > li > a {
  line-height: 0;
  font-size: 16px;
}

.navbar-nav > li {
  padding-right: 15px;
}


.navbar-nav > li > a:hover {
  border-bottom: 2px dotted #F4F7F9;
  
}

.navbar-default .navbar-nav > li > a {
  color: #F4F7F9;
  padding-right: 15px;
}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #237fa9;
  color: #86B2C6;
  border-bottom: 2px solid #F4F7F9;
 }


.site-title {
  margin: 0;
  font-size: 2.88rem;
  padding-left: 30px;
}

.site-desc {
 
  font-size: 1.44rem;
  text-transform: lowercase;
  font-family: 'lora', 'sans-serif';
  font-style: italic;
  font-weight: 100;
  color: #E6E6E6;
  padding-left: 15px;
  margin: 0;
}

.page-header {
  border-bottom: 3px solid #EEE;
  padding-top: 20px;
}

code {
  font-size: 80%;
}

body {
   background-color: white;
   font-family: 'museo-sans-1', 'museo-slab-1';
   color: #231f20;
}

h3 {
  text-align: center;
  font-family: 'lora', 'sans-serif';
  color: #5E5E5E;
  font-style: italic;
  font-weight: 400;
}




#footer > .container {
  padding-left: 15px;
  padding-right: 15px;

}


